.Rproj.user
.Rhistory
.RData
.Ruserdata
examples/
usethis.R
codemeta.json
_config.yml
.travis.yml
.Rbuildignore
.gitignore
.github/
CRAN-RELEASE
cran-comments.md
codecov.yml
concurve.Rproj
inst/
pkgdown/
README.Rmd
revdep/
Makefile
_pkgdown.yml
