# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages

repos:
  CRAN: https://cloud.r-project.org

matrix:
  include:
  - r: devel
  - r: release
    after_success:
    - Rscript -e 'covr::codecov()'

