exportPattern("^[[:alpha:]]+")
import(parallel)
import(pbmcapply)
import(bcaboot)
import(boot)
import(ggplot2)
import(ProfileLikelihood)
import(dplyr)
import(tidyr)
import(flextable)
import(officer)
import(knitr)
import(tibble)
import(survival)
import(survminer)
import(metafor)
import(scales)
importFrom("stats", "coef", "confint", "confint.default", "confint.lm",
                "lm", "quantile", "t.test", "cor.test", "qnorm")
  importFrom("methods", "is")
  importFrom("stats", "approxfun", "integrate")
importFrom("graphics", "axis", "par", "polygon", "text")
importFrom("stats", "logLik", "model.frame", "model.matrix",
             "model.response", "na.fail")
importFrom("utils", "head")
