html, body {
  height: 100%;
  font-size: 18px;
  font-family: "PT Serif";
}

@media only screen and (max-width: 767px) {

html, body  {
  font-size: 16px;
  overflow-x: hidden;
  }
}

.navbar-brand {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 32px;
}



.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color: #eee;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color:#d46c5b;
}

.label-default {
  background-color:#d46c5b;
}

p.caption {
  display: none;
}

body {
  color: #444444;
  line-height: 1.6;
}

a {
  color: #d46c5b;
}

a:focus {
  color: #d46c5b;
}

h1, .h1 {
  font-size: 27px;
  
}

h1 small, .h1 small {
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

h2, .h2 {
  font-size: 25px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 23px;
}

.contents h1, .contents h2, .contents h3, .contents h4 {
  margin-bottom: 20px;
}

.contents .page-header h1 {
  margin-top: 25px;
}

.contents h3, .contents h4 {
  margin-top: -55px;
}

h4.date, h4.author {
  font-size: 1em;
  color: #99c7c7;
  display: inline;
  padding-right: 0.5em;
}

pre code {
  font-size: 13.5px;
  white-space: pre;
}

@media only screen and (max-width: 767px) {
  pre code {
  font-size: 12px;
  white-space: pre;
}
}

.btn-primary {
  color: #eeeeee;
  background-color: #d46c5b;
}

.btn-primary:focus {
  color: #eeeeee;
  background-color: #d46c5b;
}


